.range-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: black;
    outline: none;
    opacity: 0.2;
    -webkit-transition: .2s;
    transition: opacity .2s;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;

    &:hover {
        opacity: 0.7;
    }
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        background: white;
        cursor: pointer;
    }

    &::-moz-range-thumb {
        width: 25px;
        height: 25px;
        background: #04AA6D;
        cursor: pointer;
    }
}

.radio-list {
    @include flex(row);
    &__option {
        @include flex;
        background-color: $light-white;
        height: 40px;
        min-width: 40px;
        padding: 5px;
        @include typical-button-fx('hover');
        // &:hover {
            // color: black !important;
        // }
        &--active {
            @include typical-button-fx('active');
        }
    }
}

.button {
    @include flex;
    background-color: black;
    height: 25px;
    border:0;
    outline: 0;
    color: white;
    width: 100%;
    font-weight: bold;
    @include typical-button-fx('hover');
    &:hover {
        color:black !important;
    }
}

.input {
    border:0;
    outline:0;
    background:rgba(0,0,0,0.25);
    height: 25px;
    text-indent: 5px;
    color:white;
    font-family: $fira;
}

.input-number {
    @extend .input;
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.input-textarea {
    @extend .input;
    width: 100%;
    padding: 5px 2.5px 5px 2.5px;
    box-sizing: border-box;
    text-indent: none;
}

.form-group {
    width: 100%;
    @include flex(column,flex-start,flex-start,5px,5px)
}

.form-error {
    color:crimson;
    font-size: 0.6em;
}

.legend {

}

.label {
    font-weight: bold;
    @include flex(row,flex-start,center);
}