@import './scss/variables';
@import './scss/mixins';
@import './scss/breakpoints';

body {
    background-color: $bg-color;
    font-family: $fira;
}

a {
    text-decoration: none;
}

// FORM
@import './scss/layout/form.scss';

// HEADER
@import './scss/layout/header.scss';

// BODY
@import './scss/layout/body.scss';